/* Agrega estilos CSS según tus necesidades */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #757575;
}

header, nav, section, article, footer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.event-card {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

footer {
    text-align: center;
}